---
---

<nav style="
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
">
  <a href="https://www.linkedin.com/in/julio-cesar-guillermo-colca-b9b24874" target="_blank" style="background:#00ffff;padding:0.5rem 1rem;border-radius:6px;color:black;font-weight:bold;text-decoration:none;">
    LinkedIn
  </a>
  <a href="https://github.com/Julio-Cesar-Guillermo-Colca-2025" target="_blank" style="background:#00ffff;padding:0.5rem 1rem;border-radius:6px;color:black;font-weight:bold;text-decoration:none;">
    GitHub
  </a>
  <a href="https://internetenperu2025.wordpress.com/contacto/" target="_blank" style="background:#00ffff;padding:0.5rem 1rem;border-radius:6px;color:black;font-weight:bold;text-decoration:none;">
    Mi Web Personal
  </a>
  <a href="https://drive.google.com/file/d/1l0dCm1r7ymU3qnkMboS0z5N8-ekL-rdO/view?usp=drive_link" target="_blank" style="background:#00ffff;padding:0.5rem 1rem;border-radius:6px;color:black;font-weight:bold;text-decoration:none;">
    Currículum Vitae
  </a>
</nav>
